*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

body{
    color: white;
    font-family: 'Nanum Gothic Condensed', sans-serif;  

}
    /* TO REMOVE SCROLL BAR  */
::-webkit-scrollbar {
    display: none;
  }


.mt{

    width: 100%;
    overflow: hidden;
    height: 600px;
    background-image: url(./home.jpg);
    background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub_mt{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.76)); 

  background-repeat: no-repeat;
    
}

.socialmedia{
    padding-top: 25px ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-items: center;
    width: 250px;
    list-style: none;

}



.icons{
    height: 20px;
    position: relative;
}

.mail{
    text-decoration: none;
    color: #fb5b21;
}

.mail-and-num{
    position: absolute;
    right: 30px;
    top: 15px;
    list-style: none;
    color: white;
    display: flex;
    color: #fb5b21;   
}

.mail-and-num li{
    position: relative; 
    /* top: 0px; */
    margin: 10px 20px;
}

nav{
    align-items: center;
}

nav ul{
    width: 100%;
    list-style: none;
    display: grid;
      
}

nav ul li{
    padding: 15px 3% 15px 3%;
    
}

.top-text{
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    display: grid;
    align-self: center;
    position: relative;
    top: 150px;
}

.top-button{
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;

}

.top-button button{
    background-color: #fb5b21;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
}

.top-button button:hover{
    transform: scale(0.9);
    transition: .6s;
    background-color: #fb5b21;
    color: black;
}

.logo{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-items: center;
    position: absolute;
    left: 10px;
}

.logo div{
    
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #fb5b21;

}

.logo img{
    height: 25px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: right;
  }


  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #fb5b21;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


  
 

@media (min-device-width: 120px) and (max-device-width: 640px)
{
    .socialmedia{
        grid-template-columns: repeat(4, 1fr);
        width: 200px;
        justify-items: right;
        grid-gap: 5px;
    }

    .mail-and-num , .mail{
        position: relative;
        right: 0px;
        justify-content: space-around;
        padding-top: 320px;
        color: white;

        
    }

    .top-text{
        font-size: 40px;
    }
    
    
}

body{
    font-family: 'Open Sans', sans-serif;  
    color: #b7bcbe;
  }
  .footer-widget {
    
    margin-top: 40px;
    padding: 15px;
    background-color: #222429;
  }
  
  
  
  .footer{
    display: grid;
    background-color: #222429;
  
  }
  
  h3{
    color: white;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;  
  
  }
  
  .footer-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-widget ul li {
    margin: 15px;
  }
  
  .footer-widget ul li a {
    color: #b7bcbe;
  }
  
  .footer-widget a{
    text-decoration: none;
  }
  
  .footer-widget ul li a:hover {
    color: #747575;
  }
  
  .signup-form label {
    display: block;
    margin: 10px;
    margin-bottom: 10px;
  }
  
  .form-group{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .form-group input{
    width: 50%;
  } 




  
  .signup-form .form-control {
    flex-grow: 1;
    margin-right: 0px;
    border-radius: 0px ;
    border: none;
    height: 40px;
  }
  
  .signup-form {
    position: relative;
    width: 90%;
    background-color: #fb5b21;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  button{
    background-color: #111111;
    border: none;
    padding: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .signup-form .btn:hover {
    background-color: #3b3b3b;
  }
  


  .signup-note {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
  }
  
  .orange-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fb5b21;
    position: relative;
    right: 30px;
    text-align: center;
    margin-top: 0px;
    
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .row2{
    background-color: #111111;
    display: flex;
    justify-content: center;
  }
  
  .row2 div{
    padding: 20px 30px 20px 30px;
    text-align: center;
    color: white;
    font-size: 15px;
  }
  
  .arrow {
    color: #fb5b21;
  } 
  
  .foot-icons{
    font-size: 17px;
    color: white; 
    background-color: #fb5b21;
    border-radius: 49%; 
    padding: 10px;
  }

  .classes{
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto Condensed',sans-serif;
  }
  
  
  .cs-heading{
    color: #fb5b21;
    font-weight: bolder;
    }
  
  .wh-heading{
    color: #222429;
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 50px;
    }
  
    .days{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

  .days ul{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: #222429;
    border-radius: 20px;
  }
  
  .days ul li{
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: white;
  }
  
  .days ul li:hover{
    background-color:#fb5b21;
    border-radius: 20px;
    cursor: pointer;
    transition: 170ms;
  }
  
  .timing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .timing div{
    text-align: center;
    background-color: #222429;
    margin: 30px;
    padding: 40px 50px 40px 50px;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 2px #222429;
  }
  
  .timing div:hover{
    transition: 300ms;
    transform: scale(1.05);
  }
  
  .time{
    color: white;
    padding: 15px;
  }
  
  .type{
    color: #fb5b21;
    padding: 10px;
  
  }
  
  .t-name{
    font-family: 'Open Sans', sans-serif;
  }
  
  .trainers{
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto Condensed',sans-serif;
  }
  
  .trainer-main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  
  .ot-heading{
    color: #fb5b21;
    font-weight: bolder;
    }
  
  .et-heading{
    color: #222429;
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 50px;
    }
  
  
  .trainer-class {
    box-shadow: 0px 3px 5px 2px #222429;
      margin: 20px;
      background-color: #222429;
      position: relative;
      display: flex;
      justify-content: center;
      height: 350px;
      overflow: hidden;
      border-radius: 3px;
      overflow: hidden;
    }
  
    /* .trainer-icon-main{} */
  
    .trainer-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      background-color: white;
      border-radius: 50%;
      font-family: Arial;
  font-size: 17px;
  padding: 8px;
  margin: 10px;
    }
  
    .trainer-icon:hover{
      transition: 700ms;
      transform: scale(1.2);
    }
  
    
    .trainer-img {
      width: 100%;
      height: 100%;
    }
  
    .overlay{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .trainer-class .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(43, 43, 43, 0.623);
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.3s ease, transform 0.3s ease;
      z-index: 1;
    }
    
    
    .trainer-class:hover .overlay {
      opacity: 1;
      transform: scale(1);
    }
  
    .trainer-class:hover .trainer-img{
      transition: 900ms;
      transform: scale(1.05);
    }
    
    .trainer-class .text {
      position: absolute;
      bottom: 0;
      padding: 10px;
      color: #fff;
      z-index: 2;
    }
    
    .trainer-class h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .trainer-class p {
      margin: 0;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      margin-top: 10px;
    }

    .joinus {
      color: black;
      display: flex;
      flex-wrap: wrap;
      margin: 20px 10px;
      /* margin: 40px; */
    }
    
    .join-heading{
      color: black;
      padding: 20px 0px;
    }
    
    .col-50 {
      flex: 50%;
    }
    
    .col-75 {
      flex: 75%;
    }
    
    .col-50,
    .col-75 {
      padding: 0 16px;
    }
    
    .joincontainer {
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      overflow: hidden;
    }
    
    .joinin[type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    label {
      margin-bottom: 10px;
      display: block;
    }
    
    .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }
    
    .joinbtn {
      background-color: #fb5b21;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }
    
    .joinbtn:hover {
      background-color: #fb5b21ea;
    }
    
    
.contactus{
  margin-top: 50px;
  text-align: center;
  font-family: 'Roboto Condensed',sans-serif;
}


.text{
  position: relative;
  bottom: 0;
}

.contact-main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-class {
  
  box-shadow: 0px 3px 5px 2px #222429;
    margin: 20px;
    background-color: #222429;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;
    border-radius: 3px;
  }
  
  .contact-class .text {
    /* position: absolute; */
    /* bottom: 0; */
    padding: 10px;
    z-index: 2;
  }
  
  .contact-class h2 {
    color: #fb5b21;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .contact-class p {
    margin: 0;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }


  .contact-icon{
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: white; 
    background-color: #fb5b21;
    border-radius: 50%; 
    padding: 10px;
    
  }

.aboutus{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-content{

  margin: 30px;
  position: relative;
  width: 48%;
  
  /* border: 2px solid red; */
}

.about-heading{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed';
  z-index: 1;
}


.about-p p{
  font-family: Arial, Helvetica, sans-serif;
}

.about-img{
  margin: 30px;
  position: relative;
  width: 40%;
  /* border: 2px solid red; */
  z-index: 2;
  
}

.about-img img{
  position: relative;
  width: 100%;
}

.about-end{
  
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 30%;
  background-color: #1a1c1f;
  z-index: 3;
}

.about-end button{ 
  margin-top: 20px;
  margin-left: 6%; 
  position: relative;
  width: 40%;
  background-color: #fb5b21;
  border-radius: 3px;
}


@media  (min-device-width: 461px) and (max-device-width: 770px) {
  .days ul{
      width: 400px;
  }
}

@media  (min-device-width: 340px) and (max-device-width: 460px) {
  .days ul{
      width: 300px;
  }
}

@media  (min-device-width: 100px) and (max-device-width: 341px) {
  .days ul{
      width: 250px;
  }
}

@media (min-device-width: 120px) and (max-device-width: 999px) {
  .about-content{
    width: 80%;
  }
  .about-heading{
    position: relative;
    width: 80%;
  }

  .about-img{
    width: 80%;
  }
}


@media (min-device-width: 120px) and (max-device-width: 665px) {
  .contact-class{
    width: 80%;
  }
}



@media (min-device-width: 666px) and (max-device-width: 1200px) {
  .contact-class{
    width: 44%;
  }
  .contact-main{
    flex-direction: column;
  }
}

@media (min-device-width: 1201px) and (max-device-width: 1400px) {
  .contact-class{
    width: 27%;
  }
}
    
    @media (max-width: 800px) {
      .joinus {
        flex-direction: column;
      }
     
    }

    @media (min-device-width: 120px) and (max-device-width: 665px) {
      .trainer-class{
        width: 80%;
        height: 40%;
      }
    }
    
    
    
    @media (min-device-width: 666px) and (max-device-width: 1200px) {
      .trainer-class{
        width: 44%;
        height: 30%;
      }
    }
    
    @media (min-device-width: 1201px) and (max-device-width: 1400px) {
      .trainer-class{
        width: 45%;
        height: 20%;
      }
     
    }

  @media (max-width: 620px) {
    .footer-widget {
      text-align: center;
      
    }
    .orange-background{
        position: relative;
        right: 0px;

    }
  }
  
  @media (min-width: 621px) and (max-width: 860px) {
    .footer-widget {
      width: 50%;
      float: left;
    }
  }
  
  @media (min-width: 861px) {
    .footer-widget {
      width: 25%;
      float: left;
    }
  }
  
  @media (min-device-width: 100px) and (max-device-width: 1024px) {
    .footer{
      grid-template-columns: repeat(1, 2fr);
    }
  }

@media (min-device-width: 120px) and (max-device-width: 480px) {
    .top-text{
        font-size: 30px;
    }
}

@media (min-device-width: 120px) and (max-device-width: 300px) {
    .top-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 780px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav{
        display: block;
    }

    .logo{
        display: inline-block;
        position: inherit;
    }

    
    
  }
  
  @media screen and (max-width: 780px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }