*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;    
}
    /* TO REMOVE SCROLL BAR  */
/* ::-webkit-scrollbar {
    display: none;
  } */


.mt{

    width: 100%;
    overflow: hidden;
    height: 600px;
    background-image: url(./home.jpg);
    background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub_mt{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.76)); 

  background-repeat: no-repeat;
    
}

.socialmedia{
    padding-top: 25px ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-items: center;
    width: 250px;
    list-style: none;

}



.icons{
    height: 20px;
    position: relative;
}

.mail{
    text-decoration: none;
    color: rgb(219, 106, 0);
}

.mail-and-num{
    position: absolute;
    right: 30px;
    top: 15px;
    list-style: none;
    color: white;
    display: flex;
    color: rgb(219, 106, 0);

   
}

.mail-and-num li{
    padding: 10px;
}

nav{
    align-items: center;
}

nav ul{
    width: 100%;
    list-style: none;
    display: grid;
      
}

nav ul li{
    padding: 15px 3% 15px 3%;
    
}
@media (min-device-width: 120px) and (max-device-width: 640px)
{
    .socialmedia{
        grid-template-columns: repeat(4, 1fr);
        width: 200px;
        justify-items: right;
        grid-gap: 5px;
    }

    .mail-and-num{
        position: relative;
        right: 0px;
        justify-content: space-around;
        padding-top: 480px;
        
    }
    
}