*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;  
      
}

body{
    color: white;
}
    /* TO REMOVE SCROLL BAR  */
/* ::-webkit-scrollbar {
    display: none;
  } */


.mt{

    width: 100%;
    overflow: hidden;
    height: 600px;
    background-image: url(./home.jpg);
    background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub_mt{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.76)); 

  background-repeat: no-repeat;
    
}

.socialmedia{
    padding-top: 25px ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-items: center;
    width: 250px;
    list-style: none;

}



.icons{
    height: 20px;
    position: relative;
}

.mail{
    text-decoration: none;
    color: rgb(219, 106, 0);
}

.mail-and-num{
    position: absolute;
    right: 30px;
    top: 15px;
    list-style: none;
    color: white;
    display: flex;
    color: rgb(219, 106, 0);

   
}

.mail-and-num li{
    padding: 10px;
}

nav{
    align-items: center;
}

nav ul{
    width: 100%;
    list-style: none;
    display: grid;
      
}

nav ul li{
    padding: 15px 3% 15px 3%;
    
}

.top-text{
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    display: grid;
    align-self: center;
    position: relative;
    top: 150px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(219, 106, 0);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


  
 

@media (min-device-width: 120px) and (max-device-width: 640px)
{
    .socialmedia{
        grid-template-columns: repeat(4, 1fr);
        width: 200px;
        justify-items: right;
        grid-gap: 5px;
    }

    .mail-and-num{
        position: relative;
        right: 0px;
        justify-content: space-around;
        padding-top: 350px;
        
    }

    .top-text{
        font-size: 40px;
    }
    
    
}

@media (min-device-width: 120px) and (max-device-width: 480px) {
    .top-text{
        font-size: 30px;
    }
}

@media (min-device-width: 120px) and (max-device-width: 300px) {
    .top-text{
        font-size: 50px;
    }
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }