*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

body{
    color: white;
    font-family: 'Nanum Gothic Condensed', sans-serif;  

}
    /* TO REMOVE SCROLL BAR  */
/* ::-webkit-scrollbar {
    display: none;
  } */


.mt{

    width: 100%;
    overflow: hidden;
    height: 600px;
    background-image: url(./home.jpg);
    background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub_mt{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.76)); 

  background-repeat: no-repeat;
    
}

.socialmedia{
    padding-top: 25px ;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-items: center;
    width: 250px;
    list-style: none;

}



.icons{
    height: 20px;
    position: relative;
}

.mail{
    text-decoration: none;
    color: #fb5b21;
}

.mail-and-num{
    position: absolute;
    right: 30px;
    top: 15px;
    list-style: none;
    color: white;
    display: flex;
    color: #fb5b21;   
}

.mail-and-num li{
    position: relative; 
    /* top: 0px; */
    margin: 10px 20px;
}

nav{
    align-items: center;
}

nav ul{
    width: 100%;
    list-style: none;
    display: grid;
      
}

nav ul li{
    padding: 15px 3% 15px 3%;
    
}

.top-text{
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    display: grid;
    align-self: center;
    position: relative;
    top: 150px;
}

.top-button{
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;

}

.top-button button{
    background-color: #fb5b21;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
}

.top-button button:hover{
    background-color: #fb5b21;
    color: black;
}

.logo{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-items: center;
    position: absolute;
    left: 10px;
}

.logo div{
    
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #fb5b21;

}

.logo img{
    height: 25px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: right;
  }


  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #fb5b21;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


  
 

@media (min-device-width: 120px) and (max-device-width: 640px)
{
    .socialmedia{
        grid-template-columns: repeat(4, 1fr);
        width: 200px;
        justify-items: right;
        grid-gap: 5px;
    }

    .mail-and-num , .mail{
        position: relative;
        right: 0px;
        justify-content: space-around;
        padding-top: 320px;
        color: white;

        
    }

    .top-text{
        font-size: 40px;
    }
    
    
}

body{
    font-family: 'Open Sans', sans-serif;  
    color: #b7bcbe;
  }
  .footer-widget {
    margin-top: 40px;
    padding: 15px;
    background-color: #222429;
  }
  
  
  
  .footer{
    display: grid;
    background-color: #222429;
  
  }
  
  h3{
    color: white;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;  
  
  }
  
  .footer-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-widget ul li {
    margin: 15px;
  }
  
  .footer-widget ul li a {
    color: #b7bcbe;
  }
  
  .footer-widget a{
    text-decoration: none;
  }
  
  .footer-widget ul li a:hover {
    color: #747575;
  }
  
  .signup-form label {
    display: block;
    margin: 10px;
    margin-bottom: 10px;
  }
  
  .signup-form .form-group {
    display: flex;
  }
  
  .signup-form .form-control {
    flex-grow: 1;
    margin-right: 0px;
    border-radius: 0px ;
    border: none;
    height: 40px;
  }
  
  .signup-form {
  
    background-color: #fb5b21;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  button{
    background-color: #111111;
    border: none;
    padding: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .signup-form .btn:hover {
    background-color: #3b3b3b;
  }
  
  .signup-note {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
  }
  
  .orange-background{
    padding: 10px;
    background-color: #fb5b21;
    position: relative;
    right: 30px;
    text-align: center;
    margin-top: 0px;
    
  }
  
  
  .row2{
    background-color: #111111;
    display: flex;
    justify-content: center;
  }
  
  .row2 div{
    padding: 20px 30px 20px 30px;
    text-align: center;
    color: white;
    font-size: 15px;
  }
  
  .arrow {
    color: #fb5b21;
  } 
  
  .foot-icons{
    font-size: 17px;
    color: white; 
    background-color: #fb5b21;
    border-radius: 49%; 
    padding: 10px;
  }
  
  @media (max-width: 620px) {
    .footer-widget {
      text-align: center;
      
    }
    .orange-background{
        position: relative;
        right: 0px;

    }
  }
  
  @media (min-width: 621px) and (max-width: 860px) {
    .footer-widget {
      width: 50%;
      float: left;
    }
  }
  
  @media (min-width: 861px) {
    .footer-widget {
      width: 25%;
      float: left;
    }
  }

@media (min-device-width: 120px) and (max-device-width: 480px) {
    .top-text{
        font-size: 30px;
    }
}

@media (min-device-width: 120px) and (max-device-width: 300px) {
    .top-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 780px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav{
        display: block;
    }

    .logo{
        display: inline-block;
        position: inherit;
    }

    
    
  }
  
  @media screen and (max-width: 780px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }